@use "base";

:root {
  /* --col-1: #c3561d; Pumpkin */
  /* --col-1: #fbccb7 Creamsicle; */
  --col-1: #fe916b;
  /* --col-2: #e72815; Chili */
  /* --col-2: #fa6e27; Carrot */
  /* --col-2: #fb7232 Tangerine; */
  --col-2: #f34b3d;
  --col-3: #fce3d9;
  --col-4: #1c3a6f;
  --col-5: white;
  /* --background: #c4f0eb; Spa */
  --background: #ddf0ef;
}
