@use "base";

:root {
  --col-1: #009cc3;
  /* --col-2: #e72815; Chili*/
  /* --col-2: #fa6e27; Carrot*/
  --col-2: #ff926e;
  /* --col-3: #9dd5d8; */
  --col-3: #dcefee;
  --col-4: #1c3a6f;
  --col-5: white;
  /* or #fbafa2; */
  --background: #f9e4d7;
}
