@use "base";

:root {
  // Azure
  --col-1: #009cc3;
  // Artisan aqua blue
  //coral
  // --col-1: #f34b3d;
  // --col-1: #1d7094;
  //CC Peach
  --col-2: #ff926e;
  // Ice peach
  // --col-2: #fdccb1;
  // Azure
  // --col-2: #009cc3;

  // Chili
  // --col-3: #e72815;
  // Carrot
  // --col-3: #fa6e27;
  // Peach
  // --col-3: #ff8f6a;
  // Powder Blue
  // --col-3: #dcefee;
  //Butterscotch
  // --col-3: #ec9f3f;
  //Ice Peach
  // --col-3: #fccfb2;
  //Dusty Peach
  // --col-3: #fcc5b6;
  // Artisan Aqua
  // --col-3: #8bdae6;
  // CC Aqua
  --col-3: #b1e9e3;
  // Kona Marine
  // --col-4: #1c3a6f;

  // CC Cobalt
  --col-4: #293d76;
  --col-5: white;
  /* or #fbafa2; */
  --background: #f9e4d7;
}
