@use "base";

:root {
  // Horizon
  --col-1: #006586;
  // Azure
  // --col-1: #009cc3;
  --col-2: #f8815d;
  /* --col-3: #9dd5d8; */
  --col-3: #aadfe3;
  --col-4: #1b2878;
  --col-5: white;
  /* or #fbafa2; */
  --background: #fcd1b5;
}
