:root {
    --col-1: #B94E48;
    --col-2: #E34234;
    --col-3: #DEB887;
    --col-4: #4B3621;
    --col-5: #EFDECD;
    --background: white;

}
* {
    /* border: 1px solid pink; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    padding: 2rem;
}

h1 {
    text-align: center;
}

/* nav */

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

li {
    margin-left: 1rem;
}

a {
    color: inherit;
    font-size: 1.3rem;
    text-decoration: none;
}

a:hover, a:focus {
    font-weight: 700;
    text-decoration: underline;
}
.row {
    display: flex;
}
.rotate-90{
    transform: rotate(90deg);
}
.rotate-180{
    transform: rotate(180deg);
}
.rotate-270{
    transform: rotate(270deg);
}
.blockA, .blockB, .blockC, .blockD, .blockA1, .spacer {
    /* border: 1px solid pink; */
    width: 80px;
    height: 80px;
}
.blockA, .blockB, .blockA1, .blockD {
    display: grid;
    grid-template: repeat(8, 10px) / repeat(8, 10px);
}
.spacer {
    background-color: inherit;
}

.a-top{
    background-color: var(--background);
    grid-row: span 1;
    grid-column: 1 / -1;
    height: 10px;
}

.a2, .a2x{
    background-color: var(--background);
    height: 10px;
}
.a2 {
    grid-column: span 1;
}
.a2x {
    grid-column: span 2;
}
.a3 {
    height: 10px;
    width: 10px;
    background: var(--col-5);
}
.a3d {
    background: var(--col-4)
}
.a-end {
    background-color: var(--background);
    grid-column: 1 / -2;
    grid-row: 8;
}

.b-top{
    grid-row: 1;
    grid-column: 1 / -1;
    height: 10px;
    background: var(--col-3);
}
.b2, .b3, .b4, .b-d, .b-l, .b-trans {
    height: 10px;
}
.b2 {
    background-color: var(--background);
    grid-column: 1 / span 7;
}
.b3 {
    grid-column: 1 / span 6;
    background: var(--col-3);
}
.b4 {
    background-color: var(--background);
    grid-column: 1 / span 5;
}
.b5 {
    height: 40px;
    grid-column: 1 /span 4;
    background: var(--col-1);
}
.b-l, .b-d {
    width: 10px;
}
.b-l {
    background-color: white;
}
.b-d {
    background: var(--col-3);
}
.b-trans {
    background: transparent;
    grid-column: 1 / span 4;
}
.blockC {
    background-color: white;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.clip {
   clip-path: polygon(0 0, 100% 100%, 0 100%, 0 0) ;
}
.clip-length {
    clip-path: polygon(100% 0,100% 100%, 0 100%, 100% 0);
}
.clip-4 {
    clip-path: polygon(0 100%, 50% 50%, 100% 100%, 0 100%)
}
.d1, .d4 {
    background-color: white;
    height: 10px;
}
.d4 {
    grid-column: 3 / span 4;
}
.d3 {
    grid-row: span 2;
    grid-column: 3 / span 4;
    background: var(--col-2);
    clip-path: polygon(33% 0, 100% 0, 100% 100%, 0 100% );
}
.as {
    background-color: white;
    grid-row: span 2;
    grid-column: span 2;
}
.p10 {
    padding-top: 10px;
}

/* color strip */
#color-strip {
    margin: 2rem 0;
    display: flex;
}
#color-strip > div {
    height: 100px;
    width: 100px;
}
.a {
    background-color: var(--col-1);
  }
  .b {
    background-color: var(--col-2);
  }
  .c {
    background-color: var(--col-3);
  }
  .d {
    background-color: var(--col-4);
  }
  .e {
    background-color: var(--col-5);
  }
  .e1 {
    background-color: var(--background);
  }
